.wrapper {
  padding: 0 3%;
  margin: auto;
}

.list-to-flex {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.clearfix() {
  display: table;
  clear: both;
  content: "";
}

.hidden-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
